.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding: 10px;
  background-color: #e0dbce;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment_container {
  font-size: calc(10px + 1vmin);
  color: rgb(0, 0, 0);
  border: 1px solid;
}

.comment_container .contents {
  display: flex;
  align-items: center;
}

.comment_container .contents img {
  width: 30px;
}

.comment_container .contents .name {
  margin: 0 10px;
}

.comment_container .additional_info {
  display: flex;
}